Source: libapache2-mod-accounting
Section: web
Priority: optional
Maintainer: Allard Hoeve <allard@byte.nl>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), apache2-prefork-dev (>= 2.2.4) | apache2-dev, libtool, libapr1-dev, pkg-config

Package: libapache2-mod-accounting
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, apache2.2-common (>= 2.2.4)
Description: Apache 2 module for internal accounting at Byte
 This is a module that adds support for measuring utime in requests.
